@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prosto one";
  src: url("./fonts/ProstoOne-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("./fonts/SF-UI-Display-Regular.otf") format("opentype");
}

:root {
  font-size: 12px;
}

@layer components {
  * {
    @apply box-border;
  }

  h1,
  h2,
  h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 12px;
    width: 100%;
  }

  span {
    text-align: left;
    flex: 1;
  }

  h1 {
    @apply text-2xl
    font-semibold;
  }

  h2 {
    @apply text-xl
    font-semibold;
  }

  h3 {
    @apply text-lg
    font-semibold;
  }

  button {
    @apply border 
    border-white
    rounded-lg
    text-sm
    tracking-wider;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;

    padding: 5px 20px;
    flex: 1;
  }

  button:active {
    @apply scale-90;
  }

  .interface-button {
    min-width: 120px;
  }

  form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  input {
    @apply bg-slate-200 rounded-lg;
    width: 100%;
    padding: 0.4rem 1rem;
    height: 28px;
  }

  textarea {
    @apply bg-slate-200 rounded-lg;
    min-width: 100%;
    min-height: 100px;
    padding: 6px 12px;
    resize: none;
  }

  textarea:focus{
    @apply outline-cyan-500;
  }

  input[type="checkbox"] {
    padding: 20px;
    margin: 4px;
    width: 14px;
    height: 14px;
    background-color: red !important
  }

  input:focus {
    @apply outline-cyan-500;
  }

  [type="checkbox"]:checked{
    background-color: black;
  }

  .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}


  #root {
    @apply bg-slate-200 text-slate-950;
    display: flex;
    min-height: 100vh;
  }

  .App {
    @apply container 
    p-5
    mx-auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    gap: 20px;

    min-width: fit-content;
  }

  .input-container {
    @apply flex flex-col gap-6;
  }

  .input-wrapper {
    @apply shadow-lg
      shadow-slate-400
      rounded-xl
      bg-white
      p-6
      tracking-wide
      min-w-max;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 400px;
    max-width: 400px;
    min-width: 400px;
    align-items: start;
  }

  .input-wrapper-details {
    overflow: hidden;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .item-collapsed {
    @apply bg-slate-100;
    padding: 8px 12px;
    display: flex;
    align-items: stretch;
    justify-content: center;
    flex-direction: column;
    cursor: pointer;
  }

  .education-input-wrapper {
    padding: 12px 0;
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .no-gap {
    gap: 0;
  }

  .item-collapsed-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    width: 100%;
  }

  .input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    padding: 0 8px;
  }

  .output {
    @apply font-serif;
    -border: 1px solid black;
    width: fit-content;
  }


  .button:hover {
    @apply border border-slate-900;
  }

  .interface {
    padding: 12px 8px 0 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
  }

  /* Output */
  .output {
    @apply shadow-lg font-sans
    bg-white
    shadow-slate-400;
    height: 29.7cm;
    width: 21cm;
  }


  .personal-details{
    @apply flex  bg-slate-700 text-white;
    flex-direction: column;
    padding: 36px 24px;
    gap: 8px
  }

  .inline-details{
    @apply flex gap-5;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .inline-details h3, .personal-details h3{
    @apply font-light text-xl;
    width: auto;
    gap: 6px;
  }

  .additional-info{
    padding: 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
