@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Prosto one";
  src: url("./fonts/ProstoOne-Regular.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: "San Francisco";
  src: url("./fonts/SF-UI-Display-Regular.otf") format("opentype");
}

@layer components {
  * {
    @apply box-border;
  }

  h1 {
    @apply text-2xl
    font-semibold;
  }
  h2 {
    @apply text-xl
    font-semibold;
    
  }
  h3 {
    @apply text-lg
    font-semibold;
  }

  button {
    @apply border 
    border-white
    rounded-lg
    text-sm
    tracking-wider;

    -border-style: solid;
    -border-color: #fff;
    -border-radius: 0.375rem; /* 6px в Tailwind */
    -font-size: 0.875rem; /* 14px в Tailwind */
    -letter-spacing: 0.05em; /* 1px в Tailwind */

    padding: 5px 20px;
    flex: 1;

    padding: 5px 20px;
    flex: 1;
  }

  button:hover {
    @apply font-extrabold;
  }

  button:active {
    @apply scale-90;
  }

  form{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
  }


  input {
    @apply bg-slate-200 rounded-lg;
    width: 100%;
    padding: 0.4rem 1rem;
  }

  input:focus {
    @apply outline-cyan-500;
  }

  #root {
    @apply bg-slate-200 text-slate-950;
    display: flex;
    min-height: 100vh;
  }

  .App {
    @apply container 
    p-5
    mx-auto;

    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    flex: 1;
    gap: 20px;

    min-width: fit-content;
  }

  .input-container {
    @apply flex flex-col gap-6;
  }

  .input-wrapper {
    @apply shadow-lg
      shadow-slate-400
      rounded-xl
      bg-white
      p-5
      tracking-wide
      min-w-max;
    display: flex;
    flex-direction: column;
    gap: 8px;
    width: 600px;
    align-items: start;
  }

  .input-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 4px;
    padding: 0 8px;
  }

  .output {
    @apply font-serif;
    -border: 1px solid black;
    flex: 1;
  }

  .resume-wrapper {
    @apply shadow-lg 
    bg-white
    shadow-slate-400;
    height: 29.7cm;
    width: 21cm;
  }

  .button:hover {
    @apply border border-slate-900;
  }
}
